# Dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Git
.git
.gitignore

# IDE
.idea
.vscode

# Build outputs
dist
tmp
out-tsc

# Mobile specific
apps/mobile/ios/Pods
apps/mobile/android/build
*.apk
*.aab

# System Files
.DS_Store
Thumbs.db 